################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQ/.vs
/RabbitMQ/RabbitMQReceiver/bin/Debug/net7.0
/RabbitMQ/RabbitMQReceiver/obj
/RabbitMQ/RabbitMQSender/bin/Debug/net7.0
/RabbitMQ/RabbitMQSender/obj
